[Desktop Entry]
Type=Application
Name=Jellyx
GenericName=Music Player
Comment=Desktop background music player for people who work with music on
Exec=jellyx
Icon=com.jellyx.music
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;stream;youtube;soundcloud;visualization;
StartupNotify=true
StartupWMClass=jellyx
